<template>
  <nav class="cnavbar navbar navbar-dark">
    <div class="container-fluid">
      <NuxtLink class="navbar-brand" to="/">Volební kalkulačka 2021</NuxtLink>
    
      <!-- <Menu /> -->
      
    </div>
  </nav>
</template>

<script>
// import Menu from "~/components/Menu.vue";

export default {
  components: {
    // Menu
  }
};
</script>

<style scoped>
  .cnavbar {
    background-color: #0B68C3!important;
    border-color: #0B68C3!important;
  }
</style>